/* set entire body that is webpage */
body {
  background: #383a3d;
}
/* set form background colour*/
form {
  background: #fff;
}
/* set padding and size of th form */
.form-container {
  border-radius: 10px;
  padding: 30px;
}

.centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-btn {
  background: #7c5cbf;
  border-radius: 30px;
  width: 100%;
  position: relative;
  color: white;
  font-weight: 600;
}
